<ion-view title="关于" id="me" ng-controller="meCtrl as mCtrl">   
    <ion-nav-buttons side="left" class="has-header hideBackButton ">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    </ion-nav-buttons>  
    <div class="about-avatar">
        <img class="about-avatar-img" src="../img/avatar.png"></img>
        <label class="about-avatar-label">V1.0.0</label>
        
    </div>

    <lable id="page12-button7" class="about-right-label" ng-click="logoutAction()">xx信息科技有限公司. All Right Resvered</label>
    
  </ion-view>