<ion-view title="评论" id="comments">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="page10-list10">
      <ion-item class="item-avatar" id="page10-list-item43">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-avatar" id="page10-list-item44">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-avatar" id="page10-list-item45">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>