<ion-view title="找回密码" id="findPwd">
  <ion-content padding="true" class="has-header">
    <form id="page8-form3" class="list">
      <ion-list id="page8-list3">
        <label class="item item-input" id="page8-input6">
          <span class="input-label">邮箱</span>
          <input type="email" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="page8-button4" class="button button-stable button-block">找回密码</button>
    </form>
  </ion-content>
</ion-view>