<ion-view title="登录" id="login">
  <ion-content padding="true" class="has-header">
    <form id="page6-form1" class="list">
      <ion-list id="page6-list1">
        <label class="item item-input" id="page6-input1">
          <span class="input-label">邮箱</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="page6-input2">
          <span class="input-label">密码</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="page6-button1" class="button button-stable button-block">登录</button>
      <a href-inappbrowser="/signup" id="page6-button2" class="button button-positive button-block button-clear">创建一个账号？</a>
    </form>
  </ion-content>
</ion-view>