<ion-view title="我的" id="me">
  <ion-content padding="false" class="has-header me-background-color">
    <div id="page5-container2">
      <div class="me-avatar">
        <img class="me-avatar-img" src="../img/avatar.png"></img>
        <label class="me-avatar-label">姓名</label>
      </div>
      
    </div>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <ion-list id="page5-list7" class="me-list-bg-color">
      <ion-item class="item-icon-left me-list-item" id="page5-list-item29" ng-click="myCommentsAction()">
        <i class="icon icon-pinglun3"></i>我的评论</ion-item>
      <ion-item class="item-icon-left me-list-item item-icon-right"  id="page5-list-item30" ng-click="informationAction()">
        <i class="icon icon-icon069"></i>
        我的信息
        <i class="icon ion-ios-arrow-right me-list-item-right-arrow"></i>
      </ion-item>
      <div class="spacer" style="width: 300px; height: 20px;"></div>
      <ion-item class="item-icon-left me-list-item item-icon-right" id="page5-list-item32" ng-click="settingsAction()">
        <i class="icon icon-icon60setting2x"></i>
        设置
        <i class="icon ion-ios-arrow-right me-list-item-right-arrow"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>