<ion-view title="我的" id="me">
  <ion-content padding="false" class="has-header">
    <div id="page5-container2">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="page5-list7">
      <ion-item class="item-icon-left" id="page5-list-item29">
        <i class="icon ion-ios-chatbubble-outline"></i>我的评论</ion-item>
      <ion-item class="item-icon-left" id="page5-list-item30" ui-sref="tabsController.information()">
        <i class="icon ion-ios-contact-outline"></i>我的信息</ion-item>
      <ion-item class="item-icon-left" id="page5-list-item32" ui-sref="tabsController.settings()">
        <i class="icon ion-ios-settings"></i>设置</ion-item>
    </ion-list>
  </ion-content>
</ion-view>