<ion-view title="注册" id="register">
  <ion-content padding="true" class="has-header">
    <form id="page7-form2" class="list">
      <ion-list id="page7-list2">
        <label class="item item-input" id="page7-input3">
          <span class="input-label">用户名</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="page7-input4">
          <span class="input-label">邮箱</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="page7-input5">
          <span class="input-label">密码</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button id="page7-button3" class="button button-stable button-block">注册</button>
    </form>
  </ion-content>
</ion-view>