<ion-view title="设置" id="settings">
  <ion-nav-buttons side="left" class="has-header">
      <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="page12-list13">
      <ion-item class="item-icon-left settings-list-item" id="page12-list-item52" ng-click="feedbackAction()">
        <i class="icon icon-qunfengyijianfankui settings-list-item-icon"></i>意见反馈</ion-item>
      <ion-item class="item-icon-left settings-list-item" id="page12-list-item53" ng-click="clearAction()">
        <i class="icon icon-qingchuhuancun settings-list-item-icon"></i>清理缓存</ion-item>

        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <ion-item class="item-icon-left settings-list-item" id="page12-list-item53" ng-click="aboutAction()">
          <i class="icon icon-guanyu settings-list-item-icon"></i>关于</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 302px;"></div>
 </ion-content>
 <button id="page12-button7" class="button button-assertive logout-button" ng-click="logoutAction()">退出登录</button>
 
</ion-view>