<ion-view id="tabs">
  <ion-tabs class="tabs-light tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="要闻" icon-on="icon-shishizixun" icon-off="icon-shishizixun" href="#/tabs/news" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="理财" icon-on="icon-licai" icon-off="icon-licai" href="#/tabs/finance" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="股票" icon-on="icon-hushenhangqing" icon-off="icon-hushenhangqing" href="#/tabs/stock" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我的" icon-on="icon-guyou" icon-off="icon-guyou" href="#/tabs/me" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>